.main-div {
  background-image: url(./library.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.overlay{
  height: 100vh;
  background-color: rgba(0,0,0, .5);
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px
}

.title .big{
  font-family:  'Libre Baskerville', serif;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 30px;
}

.title .small{
  font-family:  'Libre Baskerville', serif;
  font-size: 30px;
  font-weight: 400;
}

.criteria{
  width: 40%;
  background-color: rga(white, 0.8);
  border-radius: 5px;
  color: white;
}

.criteria .search-group{
  text-align: center;
}

.criteria .search-group input{
  display: inline-block;
  width: 70%;
  height:40px !important;
  margin-right: 3%;
  font-family: 'Open Sans', sans-serif !important;
}

.criteria .search-group .btn{
  display: inline-block;
  width: 20%;
  height:40px !important;
  font-family: 'Open Sans', sans-serif !important;
  transition: all .3s linear;
}
.criteria .search-group .btn:hover{
  color: white !important;
  background-color: #0063cd !important;
  border-color: #0063cd !important;
}

.books-container{
  height:1600px;
  color: black;
  background-image: url(./brown-shelf.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.books-overlay{
  height:1600px;
  background-color: rgba(0,0,0, .5);
}

.books{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.book{
  width: 20%;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 60px;
  background-color: white;
  margin: 20px;
}

.book img{
  width: 100%;
  border-top-right-radius: 100px;
}

.fig-caption{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.reserved{
  text-align: center;
  border-bottom-left-radius: 100px;
  padding: 5px;
}

.reserved button {
  background-color: transparent;
  border: none;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 18px;
  width: 100%;
}